*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
misc.xml
modules.xml
workspace.xml
.gradle/
build/
app/build/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
!gradle-wrapper.jar
